<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if listado_preguntas%}
    <ul>
    {% for pregunta in listado_preguntas%}
        <li><a href="{% url 'encuesta:detalle' pregunta.id %}">{{ pregunta.texto_pregunta }}</a></li>
    {% endfor %}
    </ul>
{% else %}
    <p>No hay ninguna pregunta.</p>
{% endif %}
</body>
</html>